<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="icongaptest.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="perspectivefactory.PerspectiveFactory1"
            icon="icons/emoticon_tongue.png"
            id="icon-gap-test.perspective1"
            name="myPerspective1">
      </perspective>
      <perspective
            class="perspectivefactory.PerspectiveFactory2"
            icon="icons/emoticon_wink.png"
            id="icon-gap-test.perspective2"
            name="myPerspective2">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.core.runtime.products">
      <product
            application="icon-gap-test.product1"
            name="myNewApp">
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="icon-gap-test.actionSet2"
            label="label1"
            visible="false">
         <action
               icon="icons/emoticon_smile.png"
               id="icon-gap-test.action1"
               label="actionSetLabel1"
               style="push"
               toolbarPath="additions">
         </action>
      </actionSet>
      <actionSet
            id="icon-gap-test.actionSet3"
            label="label2"
            visible="false">
         <action
               icon="icons/emoticon_surprised.png"
               id="icon-gap-test.action2"
               label="actionSetLabel2"
               style="push"
               toolbarPath="additions">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="icon-gap-test.perspective1">
         <actionSet
               id="icon-gap-test.actionSet3">
         </actionSet>
         <perspectiveShortcut
               id="icon-gap-test.perspective2">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="icon-gap-test.perspective2">
         <actionSet
               id="icon-gap-test.actionSet2">
         </actionSet>
         <perspectiveShortcut
               id="icon-gap-test.perspective1">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="icon-gap-test.command1"
            name="cmd1">
      </command>
      <command
            id="icon-gap-test.command2"
            name="cmd2">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:icon-gap-test.toolbar?after=additions">
         <command
               commandId="icon-gap-test.command1"
               icon="icons/emoticon_grin.png"
               label="cmd1label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
            <with variable="activeWorkbenchWindow.activePerspective">
                <equals value="icon-gap-test.perspective1"/>
            </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:icon-gap-test.toolbar?after=additions">
         <command
               commandId="icon-gap-test.command2"
               icon="icons/emoticon_happy.png"
               label="cmd2label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="icon-gap-test.perspective2">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="icon-gap-test.toolbar">
            <separator
                  name="additions"
                  visible="true">
            </separator>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="handlers.Handler1"
            commandId="icon-gap-test.command1">
      </handler>
      <handler
            class="handlers.Handler2"
            commandId="icon-gap-test.command2">
      </handler>
   </extension>

</plugin>
